{% extends "base.html" %}

{% block content %}
<form>
  <div class="form-group col-md-6">
    <label for="exampleFormControlInput1">Название объявления</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Гараж">
  </div>

  <div class="form-group col-md-8">
    <label for="exampleFormControlTextarea1">Описание объявления</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Продам гараж" rows="3"></textarea>
  </div>

  <div class="form-group col-md-2">
    <label for="exampleFormControlInput1">Цена</label>
    <div class="input-group">
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="100">
      <div class="input-group-append">
        <span class="input-group-text">Р</span>
      </div>
    </div>
  </div>

  <div class="form-group col-md-4">
    <label for="exampleFormControlFile1">Фотографии</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>

  <div class="form-group col-md-6">
    <label for="exampleFormControlInput1">Место сделки</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="г.Воронеж, ул.Ленина, д.42">
  </div> 
  
  <div class="col-4">
    <button type="submit" class="btn btn-primary">Продолжить</button>
  </div>

</form>
{% endblock %}