{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-8">

          {% for product in products_list %}
            <h3><a href="{{ url_for('advert.ad_page', prod_db_id=product.id) }}"> {{ product.name }}</a></h3>
            <p>{{ product.pretty_date() }}</p>
            <p>{{ product.price }} р. </p>
            <hr/>
          {% endfor %}

          {% if prev_url %}
            <a href="{{ prev_url }}">Назад</a>
          {% endif %}
          {% if next_url %}
          <a href="{{ next_url }}">Вперёд</a>
          {% endif %}

    </div>
</div>
{% endblock %}   
